name: Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Get dependencies
        run: go mod download

      - name: Build Server
        env:
          GOOS: windows
          GOARCH: amd64
        run: cd server && go build -v .

      - name: Build Agent
        env:
          GOOS: windows
          GOARCH: amd64
        run: cd agent && go build -v .

      - name: Verify imports
        env:
          GOOS: windows
          GOARCH: amd64
        run: |
          go list -f '{{.Imports}}' ./agent
          go list -f '{{.Imports}}' ./server
